<h2>Stories for User <%= @user.email %></h2>
  
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @stories.each do |s| %>
  <tr>
    <td><%= s.id %></td>
    <td><%= s.title %></td>
    <td><a href= "/users/<%= @user.id %>/stories/edit/<%= s.id %>">Edit a Story</a></td>
    <td><a href= "/users/<%= @user.id %>/stories/delete/<%= s.id %>">Delete a Story</a></td>
  </tr>
  <% end %>
</table>
    
    
<ul>
  <li><a href="/users/<%= @user.id %>/stories/new">Add a Story</a></li>
</ul>